@{
    ViewData["Title"] = "Acerca de...";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>eLearn es una plataforma de aprendizaje en línea para aquellos que deseen aprender a desarrolllar aplicaciones multimedia</p>
